<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soda Bottle Prediction</title>
</head>
<body>
    <h1>SODA BOTTLE PREDICTION</h1>
    
    <div>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('get_supported_classes') }}">Info</a> |
        <a href="{{ url_for('get_stats') }}">Statistics</a>
    </div>

    <form action="{{ url_for('predict') }}" method="post" enctype="multipart/form-data">
        <label for="images">Select image(s):</label>
        <input type="file" name="images" id="images" accept="image/*" multiple>
        <br>
        <input type="submit" value="Predict">
    </form>
    
    <br><br>
    
    <p>It has the following functionalities:</p>
    <ol>
        <li>Upload a photo and get the chances of it being one of our recognized soda bottles.</li>
        <li>Explore the list of soda bottles our system can identify.</li>
        <li>Check recent stats on successfully executed predictions for each soda bottle over the past 10 days.</li>
    </ol>

</body>
</html>
